<p id="notice"><%= notice %></p>

<p>
  <b>App:</b>
  <%= @partner.app_id %>
</p>

<p>
  <b>Secret:</b>
  <%= @partner.secret %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
