<p id="notice"><%= notice %></p>

<p>
  <b>Partner:</b>
  <%= @request.partner_id %>
</p>

<p>
  <b>Url:</b>
  <%= @request.url %>
</p>

<p>
  <b>Parametres:</b>
  <%= @request.parametres %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
